header {
  background: #3b5998;
  padding: 1%;
}

header .container {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

header form {
  font-size: 0.6rem;
}

header input {
  border: 1px solid #273B65;
  border-radius: 2px;
}

header input[type="submit"] {
  background: #3C5894;
  color: #fff;
}

header a {
  color: #9DB4E4;
  text-decoration: none;
}