main {
  background: #edf0f5;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

main .container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

main .container > div {
  width: 48%;
}